* {
    font-family: 'Teko';
}
body {
    background-color: 	#70CFFD;
    margin: 0;
    padding: 0;
}
header {
    border-bottom: 1px solid #298fe4;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 0px 130px;
}
.conteiner {
    display: flex;
    justify-content: center;
    width: 990px;
    margin: 0px 130px;
}
.apresentation {
    display: flex;
    flex-direction: column;
}
.name {
    font-family: 'Teko';
    font-size: 40px;
    text-align: center;
}
.completename {
    font-family: 'Teko';
    font-size: 25px;
    text-align: center;
}
#geral {
    display: flex;
    justify-content: center;

}
.meio {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.main_image {
    margin-top: 35px;
    width: 260px;
    height: 260px;
    display: flex;
    justify-content: center;
    margin-left: 45px;
}
.main_information {
    flex: 3;
    display: flex;
}
.bio {
    display: flex;
    flex-wrap: wrap;
}

.tittle {
    font-size: 35px;
    border-bottom: 1px solid #298fe4 ;
}
 .text {
    display: block;
    font-size: 21px;
    color: #081485;
}
.main_menu {
    flex: 1;
    margin-left: 20px;
}  
.img_aside {
    display: flex;
    width: 130px;
    height: 370px;
}
nav ul,
nav li {
    list-style: upper-roman;
    margin: auto;
   
}
nav ul {
    font-size: 21px;
}
nav a {
    display: block;
    text-decoration: none;
    color: #081485;
    font-size: 21px;
}
#table {
    border: 1px solid #000;
    margin-top: 15px;
}
#table td {
    border: 1px solid #000;
    text-align: center;
    font-size: 19px;
    margin-bottom: 25px;
}
.img_end {
    margin: 25px;
    width: 250px;
    height: 270px;
    flex-wrap: wrap;
}
footer a {
    text-decoration: none;
    color: #081485;
}
footer a:hover {
    color: #FFF;
    text-decoration: underline;
}
.fim {
    text-align: left;
}
